@use "@/styles/variables";

.confession {
	background: variables.$bg-block;
	border-radius: 12px;
	padding: 16px;
	margin-bottom: 12px;
	color: #eaeaf0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	width: 400px;
	height: 170px;
	transition: 0.3s;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:hover {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
		transform: scale(1.05);
		transition: 0.3s;
	}

	&-title {
		font-size: 18px;
		font-weight: 600;
	}

	&-content {
		font-size: 15px;
		line-height: 1.5;
		margin-bottom: 12px;
		word-wrap: break-word;
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 13px;
		color: #a0a3b1;
	}

	&-time {
		opacity: 0.8;
	}

	&-like {
		background: transparent;
		border: none;
		color: #a0a3b1;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 4px;
		transition: color 0.2s ease;

		&:hover {
			color: #ff6b6b;
		}
	}

	&-likes {
		font-size: 13px;
	}
}
