<section class="confession" data-id="confession-item">
	<div class="confessionHeader">
		<a href="/feed" class="confessionHeaderBack">Back to feed</a>

		<div class="confessionHeaderWrap">
			<span class="confessionHeaderWrapEyebrow">Anonymous confession</span>
			<h1 class="confessionHeaderWrapTitle" data-id="confession-title"></h1>
		</div>
	</div>

	<div class="confessionLayout">
		<article class="confessionLayoutCard">
			<div class="confessionLayoutCardMeta">
				<span
					class="confessionLayoutCardMetaItem"
					data-id="confession-id"
				></span>
				<span class="confessionLayoutCardMetaDivider"></span>
				<span
					class="confessionLayoutCardMetaItem"
					data-id="confession-time"
				></span>
			</div>

			<div
				class="confessionLayoutCardContent"
				data-id="confession-content"
			></div>

			<div class="confessionLayoutCardFooter">
				<button
					type="button"
					class="confessionLayoutCardFooterLike"
					data-id="like-button"
					data-status="unliked"
				>
					<span class="confessionLayoutCardFooterLikeIcon">❤️</span>
					<span
						class="confessionLayoutCardFooterLikeLikes"
						data-id="confession-likes"
						>0</span
					>
				</button>

				<div class="confessionLayoutCardFooterActions">
					<button
						type="button"
						class="confessionLayoutCardFooterActionsButton hide"
						data-id="edit-button"
					>
						Edit
					</button>
					<button
						type="button"
						class="confessionLayoutCardFooterActionsButton hide"
						data-id="save-button"
					>
						Save
					</button>
					<button
						type="button"
						class="confessionLayoutCardFooterActionsButton hide"
						data-id="delete-button"
					>
						Delete
					</button>
					<button
						type="button"
						class="confessionLayoutCardFooterActionsButton"
						data-id="share-button"
					>
						Share
					</button>
				</div>
			</div>
		</article>
	</div>
</section>
