@use "@/styles/variables";

.header {
	background-color: variables.$bg-header;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__container {
		display: flex;
		justify-content: space-between;
		width: variables.$max-width;
		padding: 0 10px;
	}

	&__logo {
		display: flex;
		align-items: center;

		&-icon {
			font-size: 30px;
			margin-right: 10px;
		}

		&-title {
			font-size: 20px;
			font-weight: 600;
		}
	}

	&__add {
		display: flex;
		align-items: center;

		&-link {
			text-decoration: none;
		}

		&-button {
			background-color: variables.$button-color;
			border: none;
			color: variables.$white;
			cursor: pointer;
			padding: 10px 35px;
			border-radius: variables.$radius;
			transition: 0.4s;
			font-weight: 600;
		}

		&-button:hover {
			background-color: variables.$button-color-hover;
			transition: 0.4s;
		}
	}
}

@media (max-width: 445px) {
	.header {
		&__logo-title {
			display: none;
		}
	}
}
