@use "@/styles/variables";

.header {
	background-color: variables.$bg-header;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__container {
		display: flex;
		justify-content: space-between;
		width: variables.$max-width;
		padding: 0 10px;
	}

	.right-part {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}


