$font: 'Roboto Mono', sans-serif;

$bg-color: #1b1d1f;
$bg-header: #181a1e;
$button-color: #6395c7;
$button-color-hover: #3b7bbf;
$primary: #727275;
$bg-block: #15181d;
$text-gray: #4f5157;
$white: #fff;
$white-hover: #f1f1f1;

$radius: 0.7rem;
$max-width: 1350px;
