$font: 'Roboto Mono', sans-serif;

$bg-color: #1b1d1f;
$bg-header: #181a1e;
$button-color: #6395c7;
$primary: #727275;
$secondary: #08f0c8;
$bg-block: #0f1112;
$text-gray: #4f5157;
$white: #fff;

$radius: 0.7rem;
$gap: 30px;
